
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Outfit:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

*{
  font-family: "Roboto", sans-serif;
}

@theme{
  --color-primary:#5044es;
}
.reset-tw , .reset-tw *{
  all: revert !important;
}
.cl-drawerRoot{
  z-index:10;
}